<!DOCTYPE html>
<html>
  <head>
    <title>LineBotExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <img src="https://aff.gnavi.co.jp/images/track/cer.jpg?cid=156046c35fbec6423530caac7ee9662cde5ab57d76d46f4c3f00a20708d0cacb" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
